<section class="top"> 
  <article>
    <center>
      <% if !authenticated? %>
        <fb:login-button length="long" onlogin="location.href = '<%= facebook_path %>'" scope="<%= Facebook.config[:scope] %>"></fb:login-button>
      <% end %>
    </center>
 
  </article>
</section>
